.checkboxWrapper {
    position: relative;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.checkboxWrapper > [type="checkbox"] {
    cursor: pointer;
    height: 100%;
 	left: 0;
  	margin: 0;
 	opacity: 0;
 	position: absolute;
 	top: 0;
 	width: 100%;
 	z-index: 0;
}

.checkboxWrapper > [type="checkbox"] + span {
    display: block;
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0.2rem solid #51c0a8;
  }

.checkboxWrapper > [type="checkbox"]:checked + span::after {
	content: "\2714";
	top: -0.1em;
	left: 0.2em;
	color: #51c0a8;
	font-size: 1em;
	position: absolute;
}
.checkboxWrapper > [type="checkbox"]:focus + span {
	/* box-shadow: 1px 1px 2px 2px #51c0a8; */
    outline:1px solid #4D90FE; 
     -webkit-box-shadow: 0px 0px 5px  #4D90FE;
     box-shadow: 0px 0px 5px  #4D90FE;
}

.todoWrapper {
    display: flex;
    align-items: center;
}

.todoDateAndButton {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.todoDesc {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.h2 {
    margin: 0;
}
.h2__checked {
    margin: 0;
    text-decoration: line-through;
}
.desc {
    margin-left: 1rem;
}

.buttonWrapper {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

.todoContentsWrapper {
    width: 100%;
}

